@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Young+Serif&display=swap');
* {
    font-family: Poppins;
}
.part1 {
    display: inline-block;
    background-color: #2F80ED;
    width: 25%;
    height: 775px;
    vertical-align: top;
}
.part2 {
    display: inline-block;
    width: 69%;
    vertical-align: top;
}
.logo{
    margin-left: 70px;
    margin-top: 15px;
}
.board {
    margin-top: 150px;
    margin-left: 70px;
}
.settings{
    margin-top: 1px;
    margin-left: 70px;
}
.logout {
    margin-top: 310px;
    margin-left: 70px;
}
.icon{
    display: inline-block;
    vertical-align: middle;
}
h4 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}
h3.first {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}
h3.second {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 80px;
}

h5 {
    color: #515151;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.views {
    display: inline-block;
    border-radius: 25px;
    background: #333; 
    width: 200px;
    height: 120px;
    margin-left:80px;
    text-align: center;
    padding-top: 50px;
}
p.number{
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
p.text{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
h2 {
    margin-top: 45px;
    margin-left: 80px;
    font-weight: 400px;
}
table, td, td {
    border-collapse: collapse;
    border: 1px solid #BDBDBD;
    width: 788px;
    height: 50px;
    margin-left: 80px;
}
